body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  padding: 0;
}

main { position: relative; }

main,
slidem-deck { height: 100%; }

#footer {
  position: fixed;
  font-size: 80%;
  inset-block-end: 1em;
  inset-inline-end: 1em;
  z-index: 2;
}

#slides-progress {
  --sl-border-radius-pill: 0;
  --indicator-color: var(--deck-primary-color);
  --height: 100%;

  width: 100%;
}

slidem-deck::part(progress) {
  width: 100%;
  height: 5px;
  top: 0;
}

