<slidem-deck id="deck">
  <sl-progress-bar slot="progress" id="slides-progress" indeterminate></sl-progress-bar>
  {% for slide in collections.slides %}
  {% if slide.deck == deck %}
  <{{ slide.data.is or 'slidem-slide' }}
      {%- if slide.data.name %} name="{{ slide.data.name }}"{% endif %}
      {%- if slide.data.class %} class="{{ slide.data.class }}"{% endif %}
      {%- if slide.data.style %} style="{{ slide.data.style | stringifyCSSStyle }}"{% endif %}>
    {{ slide.templateContent | reveal(slide.data.reveal) | safe }}
  </{{ slide.data.is or 'slidem-slide' }}>
  {% endif %}
  {% endfor %}
</slidem-deck>
{{ content | safe }}

